:host {
  padding: 24px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

section {
  box-sizing: border-box;
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;

  img {
    height: auto;
  }
}
