<h1>Tokens</h1>
<section>
  <ng-container *ngIf="tokens$ | async as  tokens">
    <ng-container *ngIf="tokens.length; else noTokens">
      <mat-card *ngFor="let token of tokens">
        <img mat-card-image [src]="token.image" width="300" height="400" />
        <mat-card-header>
          <mat-card-title>{{ token.name }}</mat-card-title>
        </mat-card-header>
      </mat-card>
    </ng-container>
  </ng-container>
  <ng-template #noTokens>
    We couldn't find any tokens
  </ng-template>
</section>
