:host {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #0C031C;
	background-image: url('../../../../../assets/images/super-awesome-big-icons.png'), url('../../../../../assets/images/super-awesome-little-icons.png');
	background-position: 0 0;
	background-size: 175%, 100%;
	animation: 400s para infinite linear;
}

mat-card {
  padding: 50px;
  max-width: 700px;
  
  text-align: center;
  background: rgba(#0C031C, 0.8);
  color: white;

  h1 {
    margin-bottom: 10px;
  }

  h4 {
    margin-bottom: 50px;
    font-weight: bold;
  }

  p {
    font-weight: bold;
  }

  span {
    margin-right: 8px;
  }

  a {
    margin-top: 50px;
  }
}

.uppercase {
  text-transform: uppercase;
}

i {
  position: absolute;
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 10px;
  background: #A156DB;
  opacity: 0;
}

.hover:hover {
  @for $i from 1 through 10 {
    i:nth-of-type(#{$i}) {
      transform: translate3d(random(190) - 100 + px,random(50) - 100 + px,0) rotate(random(360) + deg);
      animation: bang 1000ms ease-out forwards;
      opacity: 0;
    }
  }
}

@keyframes para {
	100% {
		background-position: -5000px 2000px, 2000px 0;
	}
}

@keyframes bang {
  from {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}


@media (min-width: 600px) and (max-width: 905px) {
  mat-card {
    width: 80%;
  }
}
@media (max-width: 599px) {
  mat-card {
    width: 90%;
  }
  
  h1 {
    font-size: 2rem;
    line-height: 2.2rem;
  }
}