:host {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #0C031C;
	background-image: url('../../../../../assets/images/super-awesome-big-icons.png'), url('../../../../../assets/images/super-awesome-little-icons.png');
	background-position: 0 0;
	background-size: 175%, 100%;
	animation: 400s para infinite linear;
}

mat-card {
  padding: 50px;
  max-width: 700px;
  text-align: center;
  background: rgba(#0C031C, 0.8);
  color: white;

  h1 {
    margin-bottom: 10px;
  }

  h4 {
    margin-bottom: 50px;
    font-weight: bold;
  }

  p {
    font-weight: bold;
  }

  button {
    background-color: rgb(161 86 219);
    color: #FFF;
    margin-top: 50px;
    border-radius: 50px;
  }
}

.uppercase {
  text-transform: uppercase;
}

@keyframes para {
	100% {
		background-position: -5000px 2000px, 2000px 0;
	}
}
