<mat-card>
  <h1>Welcome to<br>FilmSeriesNFT</h1>
  <h4 class="courrier-font">The first NFT marketplace for films and TV series</h4>
  <p class="courrier-font">What can you buy here?</p>
  <div fxLayout fxLayoutAlign="space-around start">
    <div fxLayout fxLayout="center center">
      <span class="uppercase">VIP Tokens</span>
      <mat-icon
        matTooltip="Be the only happy owner of a virtual asset from your favorite content
        (your favorite movie line, an iconic item from the film…)"
      >info</mat-icon>
    </div>
    <div>
      <span class="uppercase">Premiere Tokens</span>
      <mat-icon
        matTooltip="Buy access to exclusive virtual screenings of your favorite content and
        be part of the happy few to watch it on your territory… and re-sell it when you’re done!"
      >info</mat-icon>
    </div>
  </div>
  <button mat-flat-button class="uppercase">Enter the marketplace</button>
</mat-card>
