<h1>Contact Us</h1>

<h4>Mon - Fri 10:00 AM - 8:00 PM CET</h4>
<h3>Send us a message and we’ll quickly get back to you :</h3>

<div class="section">
  <mat-label>Subject</mat-label><br>
  <input matInput placeholder="Ex. Token Issue" [(ngModel)]='subject'>
</div>

<div class="section">
  <mat-label>Message</mat-label><br>
  <textarea placeholder="Ex. I am unable to.." [(ngModel)]='message'></textarea>
</div>

<div fxLayout="row" fxLayoutAlign="center">
  <button (click)="sendMail()" type="submit" color="primary" mat-stroked-button>
    <mat-icon svgIcon="mail"></mat-icon>
    <span>Send a message</span>
  </button>
</div>