<h1>Contact Us</h1>

<h4>Mon - Fri 10:00 AM - 8:00 PM CET</h4>
<h3>Send us a message and we’ll quickly get back to you:</h3>

<mat-form-field appearance="outline">
  <mat-label>Subject</mat-label><br>
  <input matInput placeholder="Ex. Token Issue" [(ngModel)]='subject'>
</mat-form-field>


<mat-form-field appearance="outline">
  <mat-label>Message</mat-label><br>
  <textarea matInput placeholder="Ex. I am unable to.." [(ngModel)]='message'></textarea>
</mat-form-field>


<div fxLayout="row" fxLayoutAlign="center">
  <button (click)="sendMail()" type="submit" mat-flat-button class="custom-button">
    <span>Send a message</span>
  </button>
</div>
