:host {
  display: block;
  padding: 24px;
}

section {
  box-sizing: border-box;
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;

  img {
    height: auto;
  }
}