<ul>
  <li>
    <header>
      <img src="/assets/images/logo.png" alt="" width="40" height="40">
      <h2>Blood Machines</h2>
      <p><small>By Seth Ickerman</small></p>
    </header>
    <img src="/assets/images/blood-machine.jpg" alt="blood machine main character">
    <p class="description">
      The first French movie NFT Collection. Presales: May, 10th.<br/>
      Contact <a href="mailto:team@cascade8.com">team@cascade8.com</a> for a spot in the whitelist.<br/>
      <a href="https://bloodmachines.com/index.php/nft-campaign/">Click here</a> for more info.
    </p>
    <a mat-flat-button color="primary" href="https://opensea.io/fr/collection/filmseriesnft">
      See Collection
    </a>
  </li>
  <li>
    <header>
      <img src="/assets/images/logo-cannes.png" alt="" width="40" height="40">
      <h2>Cannes22</h2>
      <p><small>By NFTLab</small></p>
    </header>
    <img src="/assets/images/cannes.jpg" alt="floating icons describing the cinema industry">
    <p class="description">
      Meet us at Cannes to mint your own personal NFT!
    </p>
    <a mat-flat-button color="primary" href="https://opensea.io/collection/filmseriesnft-x-cannes-2022">
      See Collection
    </a>
  </li>
  <li>
    <header>
      <img src="/assets/images/philippe-chancel.jpg" alt="" width="40" height="40">
      <h2>Philippe Chancel</h2>
      <p><small>By NFTLab</small></p>
    </header>
    <img src="/assets/images/philippe-chancel.jpg" alt="floating icons describing the cinema industry">
    <p class="description">
      Meet us at Cannes to mint your own personal NFT!
    </p>
    <a mat-flat-button color="primary" href="https://opensea.io/collection/filmseriesnft-x-cannes-2022">
      See Collection
    </a>
  </li>
</ul>