<h1>Add a new item</h1>
<form fxLayout="column" [formGroup]="mintForm" (ngSubmit)="onSubmit()">
  <article fxLayout fxLayoutGap="16px">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput type="text" placeholder="Name" formControlName="name" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Quantity</mat-label>
      <textarea matInput type="number" placeholder="Quantity" formControlName="quantity"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>JW Player ID</mat-label>
      <input matInput type="text" placeholder="Link" formControlName="jwPlayerId" required>
    </mat-form-field>
  </article>

  <mat-form-field appearance="outline">
    <mat-label>Image Link</mat-label>
    <input matInput type="text" placeholder="Link" formControlName="image" required>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <textarea matInput type="text" placeholder="Description" formControlName="description"></textarea>
  </mat-form-field>

  <article fxLayout="column" fxLayoutGap="16px" formGroupName="metadata">
    <h4>Others Informations</h4>
    <mat-form-field appearance="outline">
      <mat-label>Running Time</mat-label>
      <input matInput type="number" placeholder="Running Time" formControlName="runningTime" required>
      <mat-hint>In minutes</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline" formArrayName="countries">
      <mat-label>Countries</mat-label>
      <mat-chip-list #countryList aria-label="countries">
        <mat-chip *ngFor="let country of countries.controls, let i = index" selectable removable (removed)="remove(i)">
          {{ country.value }}
        </mat-chip>
        <input placeholder="Countries" [matChipInputFor]="countryList"
          [matChipInputSeparatorKeyCodes]="separatorKeyCodes" matChipInputAddOnBlur (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
    </mat-form-field>
  </article>

  <button mat-flat-button color="primary" type="submit">Submit</button>
</form>